<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ysd.keepcar">

    <!-- 读写sd卡权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.MainActivity" />
        <activity android:name=".view.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.home.activity.MaintainActivity" />
        <activity android:name=".view.home.activity.RepairActivity" />
        <activity android:name=".view.home.activity.ExhibitionActivity" />
        <activity android:name=".view.home.activity.RenewalActivity" />
        <activity android:name=".view.home.activity.BoutiqueActivity" />
        <activity android:name=".view.home.activity.WashCarActivity" />
        <activity android:name=".view.home.activity.ActivityActivity" />
        <activity android:name=".view.home.activity.ShoppingMallActivity" />
        <activity android:name=".view.home.activity.QueryActivity" />
        <activity android:name=".view.home.activity.RescueActivity" />
        <activity android:name=".view.personalcenter.login.LoginActivity" />
        <activity android:name=".view.personalcenter.mycar.MyCarActivity" />
        <activity android:name=".view.personalcenter.myshop.MyShopActivity" />
        <activity android:name=".view.personalcenter.myOrder.MyOrderActivity" />
        <activity android:name=".view.personalcenter.myOrder.ReuseActivity"></activity>
    </application>

</manifest>